* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.ecran {
    position: relative; /* Ajoute une position relative pour utiliser z-index */
    width: 100%;
    height: 150vh;
    background-image: url(background2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row; /* Ajuste la direction des éléments à une colonne */
    align-items: center;
    justify-content: center;
}

h1 {
    position:absolute;
    z-index: 1;
    color: brown;
    transform: translateY(-450px);
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    text-align:center; /* Centre le texte horizontalement */
    width: 100%; /* Ajuste la largeur à 100% pour le centrage */
}

 .carte2 {
    width: 30%;
    max-width: 400px;
    color: black;
    padding: 40px 40px;
    border: 4px solid rgba(20, 19, 19, 0.179);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin: 0 20px;
}
.carte1 {
    width: 30%;
    height: 600px;
    max-width: 400px;
    color: black;
    padding: 40px 40px;
    border: 4px solid rgba(20, 19, 19, 0.179);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin: 0 20px;
}

.carte1 img , .carte2 img , .carte3 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.carte1 h2, .carte2 h2 , .carte3 h2 {
    color: brown;
    font-size: 40px; /* Réduire la taille de la police */
    font-weight: bold;
    margin-top: 20px; /* Réduire l'espace supérieur */
    text-align: center;
}

.carte1 p, .carte2 p, .carte3 p {
    color: black;
    text-align: center;
    font-size: 18px; /* Réduire la taille de la police */
    font-weight: bold; /* Ajouter du gras */
    margin: 10px auto;
    max-width: 330px;
}
html, body {
    text-align: center; /* Centre le texte horizontalement */
}

title {
    color: brown; /* Couleur du texte */
    font-size: 40px; /* Taille de la police */
    font-weight: bold; /* Gras */
    margin-top: 20px; /* Espace supérieur */
}
.cartes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.carte3 {
    width: 30%;
    height: 600px;
    max-width: 400px;
    color: black;
    padding: 40px 40px;
    border: 4px solid rgba(20, 19, 19, 0.179);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin: 0 20px;
}